Noncompliant parsing behavior

Hi,

Through differential fuzzing, I found that `oxiri::IriRef::parse` currently accepts `"$:"`, `"-:"` and `"//@@"` which are not valid IRI references according to RFC 3987. It also denies `"//[v0.a]"` which is a valid IRI reference containing an IPvFuture address.

The fuzz targets used were [iri_against_oxiri.rs](https://github.com/yescallop/fluent-uri-rs/blob/5b53059ac3e494a96954ffd9f0e1b4ecb44243a3/fuzz/fuzz_targets/iri_against_oxiri.rs) and [against_oxiri.rs](https://github.com/yescallop/fluent-uri-rs/blob/5b53059ac3e494a96954ffd9f0e1b4ecb44243a3/fuzz/fuzz_targets/against_oxiri.rs).

Thank you so much for this fuzzing and raising these issues! I am going to fix them.

Indeed, it seems I forgot IPvFuture (I relied on the URL living standard to write the first version of the parser and forgot about this case, it seems most of the IRI test suites I found do not cover this).

BTW, do you have any benchmark between your implementation and mine?

Thank you again!

Thanks for your attention to these issues! I fuzz-tested again and noticed the following new issues with IPvFuture parsing:

- `"//[vff.B]"` fails to parse, but the version flag can be one or more characters in length.
- `"//[v1.ւ]"` parses, but the address can only contain characters matching the `unreserved` rule but not the `iunreserved` rule.
- `"//[V0.a]"` fails to parse, but the leading `"v"` in an IPvFuture address is case-insensitive, as stated in [Section 3.2.2 of RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986#section-3.2.2) (see also [Section 2.3 of RFC 2234](https://datatracker.ietf.org/doc/html/rfc2234#section-2.3) for the case-insensitiveness of ABNF strings).

Would you mind taking a look at these issues?

I have run a preliminary benchmark for `fluent_uri::Iri::parse` and `oxiri::Iri::parse`. Parsing the same IRI `https://user@example.com/search?q=%E6%B5%8B%E8%AF%95#fragment` takes 93ns for `fluent_uri` and 129ns for `oxiri` on my machine. Results may vary for other cases.

Thank you so much! I indeed missed these cases. #29 should fix them

Thank you for fixing these issues! Fuzzing no longer reveals differences, so everything should be good now.

Amazing! Thank you so much for the help!