Colon in path segment produces unexpected output

The following code:
```rust
let base = BaseIri::new("http://foo.com/abc/").unwrap();
let without_colon = Oxiri::parse("http://foo.com/abc/def/ghi").unwrap();
let with_colon = Oxiri::parse("http://foo.com/abc/def/gh:i").unwrap();
let without_colon_relativized = base.relativize(&without_colon).unwrap();
let with_colon_relativized = base.relativize(&with_colon).unwrap();
info!("without colon = {:?}, with colon = {:?}", without_colon_relativized, with_colon_relativized);
```
produces the following output:
```
[*] without colon = "def/ghi", with colon = "/abc/def/gh:i"
```

I was not expecting `/abc/` in the relativized URL containing a colon. According to section 4.2 of [RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986#section-4.2):
> A path segment that contains a colon character (e.g., "this:that") cannot be used as the first segment of a relative-path reference, as it would be mistaken for a scheme name.  Such a segment must be preceded by a dot-segment (e.g., "./this:that") to make a relative-path reference.

Given that the path segment with the colon character (`gh:i`) is not the _first_ path segment, the relative URI `def/gh:i` is unambiguous.

Indeed, currently OxIRI is a bit too aggressive and do not output relative paths when there is a colon.